@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
